body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecedf3;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d4263;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a {
  padding: 40px 20px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fefbf3;
  display: block;
}

.sidenav a:hover {
  color: #c84b31;
}

.grid-container {
  margin-left: 300px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #ecedf3;
  padding: 10px;
}

.management {
  display: flex;
  flex-wrap: wrap;
}

.main {
  margin-left: 300px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .main {
    margin-left: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.content {
  display: flex;
}

.boxOne {
  margin-top: 5px;
  width: 50%;
  height: fit-content;
  border: 2px solid #d61c4e;
  border-radius: 10px;
  text-align: center;
}

.boxOne h1 {
  color: #d61c4e;
}

.forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  margin: 10px;
  height: 200px;
  width: 18rem;
  border-radius: 10px;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border-style: solid hidden hidden hidden;
}

.img-container img {
  background-size: cover;

  height: 140px;
  border-radius: 10px 10px 0 0;
}

.card:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
  transform: translate(0px, -3px);
}

.boxTwo {
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
  width: 50%;
  height: fit-content;
  border: 2px solid #3e8e7e;
  border-radius: 10px;
}

input {
  width: 300px;
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

.steps {
  width: 100%;
  height: 100%;
}

.management {
  display: flex;
  margin-left: 300px;
}

.announcement {
  margin-left: 300px;
}

/* card management */
