body {
    margin: 0;
    background-color: #231a2d;
    font-family: "Montserrat", sans-serif;
  }
  
  .nav {
    background-color: #dc5d62;
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    position: fixed;
    font-family: "Montserrat", sans-serif;
    color: #f7f6f2;
  }
  
  .brand-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem auto;
  }
  
  .back {
    width: 20%;
    margin: 0;
    padding: 0;
  }
  
  .content {
    width: 80%;
    display: flex;
  }

  .back-arrow {
    margin: 0.5rem auto;
  
    height: 45px;
    width: 45px;
  }

  .heading {
    text-align: center;
    color: #dc5d62;
    margin-top: 20vw;
  }
  
  .recycle {
    width: 99%;
    height: 65px;
    margin: 4.2px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f6f2;
    /* background-color: rgba(255, 255, 255, 0.15); */
    border-radius: 5px;
    text-align: center;
  }

  .first {
    margin-top: 19vw;
  }

  .recycle a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #38a3a5;
    font-weight: bold;
    padding: 0;
  }

  .chr{
    /* object-fit: cover; */
    width: 100%;
    height: fit-content;

  }