body{
    padding: 0;
    margin: 0;
}
.main{
    width:80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.bt{
    width: 40%;
    height: 7vh;
    background-color:#9dc83b ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main :hover{
    background-color:#e25a44 ;
}

.link{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

.nav{
    background-color: #dc5d62;
    width: 100%;
    top:0;
    display: flex;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    color:#F7F6F2;
}

.back-arrow{
    margin: 0.5rem auto;
    
    height: 45px ;
    width: 45px;
}
